.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-name img {
  height: 35px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-buttons {
  display: flex;
  gap: 0.75rem;
}

.login-btn {
  all: unset;
  color: orange;
  font-weight: 500;
  font-size: 12px;
  border: 1px solid orange;
  padding: 6px 11px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#btn2 {
  color: purple;
  border-color: purple;
}

.login-btn i {
  margin-right: 5px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.bar {
  width: 22px;
  height: 3px;
  background-color: black;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
  transition: max-height 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

@media (max-width: 768px) {
  .navbar-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    text-align: center;
  }

  .nav-links.open {
    max-height: 300px;
  }

  .hamburger {
    display: flex;
  }

  .login-buttons {
    gap: 0.5rem;
  }
}
